@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:gradient-text-blue:hover {
  background: linear-gradient(to right, #00b4d8, #0077b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
